{% macro block(title, datas) %}
    <ul class="w3-ul w3-white w3-section">
        <li class="ctrln-grey-darken-4 w3-text-white w3-round-medium"><h4 class="w3-margin-0">{{ title }}</h4></li>
            {% for post in datas %}
            <li class="w3-hover-light-grey">
                <a class="w3-text-black"  href="{{ path('post_show', {'slug':post.slug } )}}" alt=""><i class="fa fa-caret-right"></i> {{ post.title|capitalize  }}</a>
                <em><time pubdate="{{ post.created|date('Y-m-d') }}" class="w3-text-grey"> {{ post.created|localizeddate('full', 'none')}}</time></em>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro block_footer(title, datas) %}
    <ul class="w3-ul">
        <li class=""><h4 class="w3-margin-0">{{ title }}</h4></li>
            {% for post in datas %}
            <li class="w3-border-bottom">
                <a class=""  href="{{ path('post_show', {'slug':post.slug } )}}" alt=""><i class="fa fa-caret-right"></i> {{ post.title|capitalize  }}</a>
                <em><time pubdate="{{ post.created|date('Y-m-d') }}" class="w3-text-grey"> {{ post.created|localizeddate('full', 'none')}}</time></em>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% if block is same as('relatedposts') %}
    {{ _self.block('Sur le même thème', datas) }}
{% endif %}

{% if block is same as('lastposts') %}
    {% if area is same as('footer') %}
        {{ _self.block_footer('Derniers articles', datas) }}
    {% else %}
        {{ _self.block('Derniers articles', datas) }}
    {% endif %}
{% endif %}

{% if block is same as('categories') %}
    {% set close = false %}
    {% for category in datas %}
        {% if  category.parent is same as(null) %}
            {% if close is same as(true) %}
            </ul> 
        </div> {# end container #}
    </div> {# end card #}
    <hr class="ctrln-hr-transparent" />
{% endif %}
<div class="w3-card-2 w3-section w3-white w3-round w3-display-container">
    <div class="w3-display-topmiddle" style="top:-20px;">
        <img src="{{ asset('assets/images/cloud-1.svg') }}" style="width: 65px;"/>
    </div>
    <header class="w3-container w3-indigo ctrln-font-heading w3-padding ctrln-round-top">
        <h4 class="w3-margin-0"><i class="fa fa-bookmark w3-text-lime"></i> {{ category.title }}</h4>
    </header>
    <div class="w3-container w3-padding-0">
        <ul class="w3-ul w3-hoverable">
            {% set close = true %}
        {% else %}
            {% set nbrposts =  '(' ~category.posts|length|default(0) ~')' %}
            <li class="w3-hover-sand">
                <a class="w3-text-indigo"  href="{{ path('category_show', {'slug':category.slug } )}}" alt=""><i class="fa fa-caret-right"></i> {{ category.title|capitalize }} {{ nbrposts|default('') }}</a>
            </li>
        {% endif%}
    {% endfor %}
</ul> 
</div> {# end container #}
</div> {# end card #}
{% endif %}
