{% extends '@admin/base.html.twig' %}

{% block body %}
    <div class="w3-padding w3-right-align">
        {{ btn.add('admin_category_add') }}
    </div>
    <section class="{{ css_section }}">
        {{ layout.header("Edtion d\'une catégorie") }}
        {{ form_start(form, { 'attr' : { 'class': 'w3-padding w3-padding-24'} } ) }}
        {{ form_errors(form) }}
        <div class="grid-2 has-gutter">
            <div>
                {{ form_label(form.title, "Titre") }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
            <div>
                {{ form_label(form.parent, "Principale") }}
                {{ form_widget(form.parent) }}
                {{ form_errors(form.parent) }}
            </div>
            {% if form.description %}
                <div class="full">
                    {{ form_label(form.description, "Description") }}
                    {{ form_widget(form.description) }}
                    {{ form_errors(form.description) }}
                </div>
            {% endif %}
            <div class="full">
                {{ btn.save() }} 
                {% if category.id is not null %}
                    {{ btn.delete('admin_category_delete', {'id' : category.id } ) }}
                {% endif %}
            </div>
        </div>
        {{ form_end(form) }}
    </section>
    <section class="{{ css_section }}">
        {{ layout.header("Liste des catégories") }}
        {% include '@review/category-table.html.twig' with {'categories' : categories } only %}
    </section>

{% endblock %}
