{% extends '@admin/base.html.twig' %}

{% block body %}
    <div class="w3-padding w3-right-align">
        {{ btn.add('admin_post_add') }} {{ btn.index('admin_post_index') }}
    </div>
    <section class="{{ css_section }}">
        {{ layout.header("Edtion d\'un article") }}
        {{ form_start(form, { 'attr' : { 'class': 'w3-padding w3-padding-24'} } ) }}
        {{ form_errors(form) }}
        <div class="grid-3-medium-2-tiny-1 has-gutter">
            <div class="one-half">
                {{ form_label(form.title, "Titre") }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="one-half">
                {{ form_label(form.image, "Image d'entête") }}
                {{ form_widget(form.image) }}
            </div>
            <div class="">
                {{ form_label(form.category, "Catégorie") }}
                {{ form_widget(form.category) }}
                {{ form_errors(form.category) }}
            </div>
            <div class="">
                {{ form_label(form.author, "Auteur") }}
                {{ form_widget(form.author) }}
                {{ form_errors(form.author) }}
            </div>
            <div class="">
                {{ form_label(form.published, "Etats") }}
                {{ form_widget(form.published) }}
                {{ form_errors(form.published) }}
            </div>
            <div class="full w3-margin-bottom">
                {{ form_label(form.content, "Corps de texte") }}
                {{ form_widget(form.content) }}
                {{ form_errors(form.content) }} 
            </div>
            <div class="full">
                {{ btn.save() }} 
                {% if post.id is not null %}
                    {{ btn.delete('admin_post_delete', {'id' : post.id } ) }}
                {% endif %}
            </div>
        </div>
        {{ form_end(form) }}
    </section>

{% endblock %}