{% import '@admin/Macros/form.html.twig' as f %}
{% import '@admin/Macros/button.html.twig' as btn %}

{% macro itemfields(form) %}
    <div class="grid-2 has-gutter">
        <div class="two-fifth">
            {{ form_label(form.relativePath, "Image" ) }}
            {{ form_widget(form.relativePath ) }}
            {{ form_errors(form.relativePath) }}
        </div>
        <div class="w3-display-container">
            <button type="button" onclick="$(document).formItemManager('removeFormItem', this);" class="w3-btn w3-red w3-text-whitebtn-delete " title="Effacer" style="position: absolute; top: 33.33%;">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
{% endmacro %}

{% set content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="grid-1 has-gutter">
        <div class="full">
            {{ f.header("Slideshow") }}
        </div>
        <div>
            {{ form_label(form.id, "ID (ne pas modifier)" ) }}
            {{ form_widget(form.id ) }}
        </div>
        <div>
            {{ form_label(form.slides, "Ajouter ou supprimer des photos") }}
            <div id="item-fields-list" class="w3-section" data-prototype="{% filter escape %}{{ _self.itemfields(form.slides.vars.prototype )  }}{% endfilter %}">
                {% for itemField in form.slides %}
                    <div class="item">
                        {{ _self.itemfields(itemField)  }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="full">
            <button type="button" id="add-item" onclick="$(document).formItemManager('addFormItem', {{ form.slides|length }});" class="w3-btn w3-section w3-padding w3-lime" title="Ajouter un réseau">
                <i class="fa fa-plus"></i> Ajouter
            </button>
            {{ form_widget(form._token) }}
            {{ btn.save() }}
        </div>
    </div>
    {{ form_end(form) }}
{% endset %}

{{ f.container(content) }}

<script type="text/javascript">
    $(document).ready(function () {
        $(this).formItemManager();
    });
</script>
