{% extends '@admin/base.html.twig' %}

{% block body %}
    <div class="{{ css_ctrl_bar }}">
        {% if album is defined %}
            {{ btn.href('admin_album_edit', {'id': album.id }, "<i class='fa fa-undo' aria-hidden='true'></i> Retour à l'album", 'w3-black w3-hover-lime') }} 
            {{ btn.add('admin_image_add', {'id':album.id }, 'Ajouter une photo' ) }} 
        {% endif %}
        {{ btn.index('admin_image_index', null, 'Liste des photos') }}
    </div>
    <section class="{{ css_section }} ctrln-img-center">
        {{ layout.header("Aperçu") }}
        <img class="w3-padding-24" id="image_thumb" src="{{absolute_url(asset(image.relativePath|default('uploads/design/no-image-box.png')) ) }}" style="width: 100%; max-width: 720px"/>
    </section>
    <section class="{{ css_section }}">
        {{ layout.header("Informations") }}
        {{ form_start(form, { 'attr' : { 'class': css_form } } ) }}
        {{ form_errors(form) }}
        <div class="grid-2 has-gutter">
            <div class="one-half">
                {{ form_label(form.title, "Titre") }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="one-half">
                {{ form_label(form.location, "Lieu") }}
                {{ form_widget(form.location) }}
                {{ form_errors(form.location) }}
            </div>
            <div class="full">
                {{ form_label(form.mkdatetime, "Date de prise de vue (JJ/MM/AAAA)") }}
                {{ form_widget(form.mkdatetime, { 'attr': { 'class': 'grid-3 has-gutter'} }) }}
                {{ form_errors(form.mkdatetime) }}
            </div>
            <div class="one-half">
                {{ form_label(form.album, "Album") }}
                {{ form_widget(form.album) }}
                {{ form_errors(form.album) }}
            </div>
            <div class="full">
                {{ form_label(form.relativePath, "Importer le fichier") }}
                {{ form_widget(form.relativePath ) }}
            </div>
            <div class="full">
                {{ form_label(form.description, "Description") }}
                {{ form_widget(form.description , {'attr' : { 'rows':10 } }) }}
            </div>
            <div class="full">
                {{ btn.save() }} 
                {% if image.id is not null %}
                    {{ btn.delete('admin_image_delete', {'id' : image.id } ) }}
                {% endif %}
            </div>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block javascripts  %}
    {{ parent() }}
    <script>
        // Affiche l'image corespondante de l'input ElFinder
        $('#image_relativePath').bind("change paste keyup", function () {
            var new_src = $(this).val();
            $('#image_thumb').attr("src", new_src);
        });
    </script>
{% endblock %}