{% extends '@admin/base.html.twig' %}

{% block body %}
    <div class="w3-padding w3-right-align">
        {{ btn.add('admin_album_add', null, 'Nouvel album') }} {{ btn.index('admin_album_index', null, 'Liste des albums') }}
    </div>
    <section class="{{ css_section }}">
        {{ layout.header("Edition d'un album") }}
        {{ form_start(form, { 'attr' : { 'class': 'w3-padding w3-padding-24'} } ) }}
        {{ form_errors(form) }}
        <div class="grid-1 has-gutter">
            <div class="">
                {{ form_label(form.title, "Titre*") }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="">
                {{ form_label(form.description, "Description (512 caractères maxi)") }}
                {{ form_widget(form.description, { 'attr' : { 'rows':6} }) }}
                {{ form_errors(form.description) }}
            </div>
            <div>
                {{ form_widget(form._token) }}
                {{ btn.save() }} 
                {% if album.id is not null %}
                    {{ btn.delete('admin_album_delete', {'id' : album.id }) }}
                {% endif %}
            </div>
        </div>
        {{ form_end(form) }}
    </section>
    {# Affichage des photos si l'album existe #}
    {% if album.id|length %}
        <div class="w3-padding w3-right-align">
            {{ btn.add('admin_image_add', {'id':album.id }, 'Ajouter une photo' ) }}
        </div>
        <section class="{{ css_section }}">
            {{ layout.header("Photos de l'album") }}
            {% import '@picture/admin-macro-galery.html.twig' as grid %}
            {{ grid.galery_album_edit(images) }}
        </section>
    {% endif %}
{% endblock %}