{% extends '@admin/base.html.twig' %}

{% set images = images %}
{% block body %}
    <section class="{{ css_section }}">
        {{ layout.header("Liste des photos") }}
        <div class="w3-padding w3-border-bottom">
            <span>Filtres : </span><a href="{{ path('admin_image_index', {'filter':'All'} ) }}">Tous</a> | <a href="{{ path('admin_image_index', {'filter':'Null'} ) }}">Sans album</a>
        </div>
        {% import '@picture/admin-macro-galery.html.twig' as grid %}
        {{ grid.galery_images(images) }}
    </section>
{% endblock %}