{% extends '@admin/base.html.twig' %}

{% block body %}
    <div class="{{ css_ctrl_bar }}">
        {{ btn.add('admin_link_add') }}
    </div>
    <section class="{{ css_section }}">
        {{ layout.header("Edtion d\'un lien externe") }}
        {{ form_start(form, { 'attr' : { 'class': css_form } } ) }}
        {{ form_errors(form) }}
        <div class="grid-1 has-gutter">
            <div class="">
                {{ form_label(form.title, "Titre*") }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="">
                {{ form_label(form.url, "URL* (http://www.monsite.com/") }}
                {{ form_widget(form.url) }}
                {{ form_errors(form.url) }}
            </div>
            <div class="full">
                {{ btn.save() }}
                {% if link.id is not null %}
                    {{ btn.delete('admin_link_delete', {'id' : link.id } ) }}
                {% endif %}
            </div>
        </div>
        {{ form_end(form) }}
    </section>
    <section class="{{ css_section }}">
        {{ layout.header("Liste des liens") }}
        {% include '@link/link-admin-table.html.twig' with {'links' : links } only %}
    </section>
{% endblock %}