{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <div class="{{ css_ctrl_bar }}">
        {{ btn.add('admin_staticpage_add') }} 
        {{ btn.index('admin_staticpage_index') }}
    </div>
    <section class="{{ css_section }}">
        {{ layout.header("Edition d'une page") }}
        {{ form_start(form, { 'attr' : { 'class': css_form } } ) }}
        {{ form_errors(form) }}
        <div class="grid-3-small-1 has-gutter">
            <div class="one-third">
                {{ form_label(form.title, "Titre" ) }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="one-third">
                {{ form_label(form.ref, "Référence") }}
                {{ form_widget(form.ref) }}
                {{ form_errors(form.ref) }}
            </div>
            <div class="one-third">
                {{ form_label(form.view, "Vue à utiliser") }}
                {{ form_widget(form.view) }}
                {{ form_errors(form.view) }}
            </div>
            <div class="one-half">
                {{ form_label(form.image, "Image d'entête") }}
                {{ form_widget(form.image ) }}
            </div>
            <div class="one-half">
                {{ form_label(form.parent, "Parent") }}
                {{ form_widget(form.parent) }}
            </div>
            <div class="full">
                {{ form_label(form.excerpt, "Résumé") }}
                {{ form_widget(form.excerpt ) }}
                {{ form_errors(form.excerpt) }}
            </div>
            <div class="full">
                {{ btn.save() }} 
                {% if page.id is not null %}
                    {{ btn.delete('admin_staticpage_delete', {'id' : page.id } ) }}
                {% endif %}
            </div>
        </div>
        {{ form_end(form) }}
    </section>

{% endblock %}